$color-dark: #FF565C;

body {
   margin: 0px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 90px;
    box-shadow: 0px 3px 4px 1px rgba(84, 84, 84, 0.42);
}

.menu {
    margin-left: 38px;
    display: flex;
    align-items: center;
    height: 90px;
}

.burguer {
    margin-right: 38px;
}

.menu-nav {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.menu_links-a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 28px;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    color: #D2D2D3;
    text-decoration:none;
}


.flexes {
    margin-top: 42px;
    margin-right: 38px;
    margin-left: 38px;
    display: grid;
    grid-gap: 32px;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));}

.card {
    min-height: 436px;
    padding-bottom: 60px;
}

.card-container-title {
    font-family: 'Lato', sans-serif;
    font-size: 26px;
}

.card-container-text {
    font-family: 'Oswald', sans-serif;
}

footer {
    background-color: #1D1F24;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-menu {
    
}

.footer-menu-list {
    display: flex;
    flex-direction: row;
}

.menu_links-b {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 28px;
    font-family: 'Oswald', sans-serif;
    color: white;
    text-decoration: none;
}


.logo-registro {
    margin: 38px;
}

.footer-text {
    color: blanchedalmond;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.footer-socialmedia {
    margin-right: 38px;
}
